{% extends "videos/template.html" %}

{% block content %}
<section class="thining">
	<header>
		<h1>درباره ما</h1><br />	
	</header>
	<hr><br />
	<section>
		<div class="normalfont">
			<ul>
				<li><h2>درباره ی سایت:</h2>
								برنامه ي فيلم برداري از کلاس ها سال هاست که در دانشکده ي رياضي دانشگاه صنعتي شريف با پشتيباني و همکاري دانشکده و برخي اساتيد و دانشجويان علاقه مند 
برگزار شده و تداوم يافته است. در نتيجه ي اين فعاليت هم اکنون مقدار قابل توجهي محتواي مفيد علمي در زمينه ي رياضيات فراهم شده است که با راه اندازي سايت ويدئوهاي دانشکده رياضي در سال 91 
فرصت ديگري فراهم شد که دانشجويان ديگر دانشگاه ها و ساير علاقه مندان به رياضيات نيز بتوانند به اين محتواي ارزشمند دسترسي داشته باشند.
<br />
سايت ocw که از ابتداي مهر 93 کار خود را آغاز کرده است يک درس افزار آزاد (open courseware) است که در آن علاوه بر امکان به اشتراک گذاري ويدئوها اين امکان وجود دارد که
ساير محتواي درسي مثل اسلايدها، جزوات، تمارين و ... نيز بر روي سايت قرار گيرند. جهت آشنایی با بخش های مختلف سایت به شما توصيه مي کنيم که در سايت گشتي بزنيد تا بيشتر با آن آشنا شويد.
				</li>
			</ul>
			<br /><hr />
			آخرین بروز رسانی: 1393/07/01
		</div>
	</section>
</section>
{% endblock %}

