{% extends "videos/template.html" %}
{% load staticfiles %}

{% block content %}
<section class="thining">
	<header>
		<h1>ارتباط با ما</h1><br />	
	</header>
	<hr><br />
	<section>
		<div class="normalfont">
			جهت ارتباط با ما می توانید از طریق راههای زیر اقدام کنید:
			<ul>
				</li>
				<li><h2>ارسال ایمیل :</h2>می توانید نظرات و پیشنهادات خود و همچنین بازخوردهای خود را از سایت و ویدئو ها از طریق ایمیل زیر به دست ما برسانید.
					<br />
					<img src="{% static 'videos/images/electronic_post.png' %}" style="float: left;"/>
					<br />					
				</li>
			</ul>
			<br /><hr />
			آخرین بروز رسانی: 1393/07/01
		</div>
	</section>
</section>
{% endblock %}
